body {
    background-color:rgb(102, 0, 0);
    font-family: "Times New Roman", Times, serif;
    }

h1 {
    color:gainsboro;
    text-align: center;
    }

h2 {
    color:gainsboro;
    margin: 20px;
}

h3{
    color:gainsboro;
    margin: 25px;
}

b{
    color: gainsboro;
    margin: 25px;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 

.skills p {
    color: rgb(255, 255, 255);
}

.project   {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(0, 0, 0); 
    border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid rgb(102, 0, 0);
    display: block;
    margin: auto;
    }

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
    color: rgb(255, 255, 255);
    }

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(0, 0, 0);
    }

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    color: rgb(255, 255, 255);
    }

.contact{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    }

.contact a {
    margin-left: 50px;
    margin-right: 50px;
    }

.contact a:hover {
    text-decoration: underline;
    }