/* Structural */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(images/webdev1.jpg);
    background-size: cover;
}

#head {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 110, 153, 0.9);
    margin: 5px auto;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 85%;
}

#content {
    display: flex;
    background-color: rgba(0, 221, 111, 0.9);
    margin: 5px auto;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 85%;
}

.container-a {
    margin: 5px;
    padding: 10px;
}

.assignment {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
}

.container-b {
    margin: 5px;
    padding: 10px;
}

.project {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
}

/* Images */

img {
    max-width: 100%;
}

/* Typography */

header {
    color:rgb(255, 255, 255);
    text-align: center;
}

.assignment {
    text-align: center;
}

.project {
    text-align: center;
}

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#content p, #content h2 {
    text-align: center;

}

/* Responsive Design */

@media (min-width: 900px) {
    #content, .container-a, .container-b {
        display: flex;
    }

    .assignment {
        flex: 1;
        margin: 10px;
    }

    .container-b {
        justify-content: center;
    }

    .project {
        flex: 0 0 calc((100% - 60px) / 3);
        margin: 10px;
        text-align: center;
    }

}